@page "/addtodo"
@using BlazorApp.Shared.Models
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<h1>Add Todo</h1>
<hr />

<EditForm Model="@todo" OnValidSubmit="CreateTodo">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="Title" class="form-label">Title</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="todo.Title" />
        </div>
        <ValidationMessage For="@(() => todo.Title)" />
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>
</EditForm>

@code {
	protected Todo todo = new();
	protected async Task CreateTodo()
	{
		await HttpClient.PostAsJsonAsync("https://localhost:7047/todos", todo);
		Cancel();
	}

	protected void Cancel()
	{
		NavigationManager.NavigateTo("/todolist");
	}
}
